<div class='wrapper_documenten'>
  <div class="row">
    <div class="center">
      <h2>Lidgeld</h2>
      <p class="lead">Jaarlijkse tegemoetkoming van de mutualiteit</p>
    </div>
  </div>
  <div class="flex-container d-flex justify-content-center">
    <div>
      <a href='./assets/documents/Attesten-inschrijvingsgeld-jeugdvereniging-sportvereniging_tcm375-167346.pdf'
        target="_blank">
        <div>
          <img src="./assets/images/pdf-icon.png" alt="PDF" width="50" height="50">
          <h3>Christelijke Mutualiteiten</h3>
        </div>
      </a>
    </div>
    <div>
      <a href='./assets/documents/sport-en-fitness.pdf' target="_blank">
        <div>
          <img src="./assets/images/pdf-icon.png" alt="PDF" width="50" height="50">
          <h3>Liberale Ziekenkas</h3>
        </div>
      </a>
    </div>
    <div>
      <a href='./assets/documents/Documenten_DownloadsLiberale Ziekenkas' target="_blank">
        <div>
          <img src="./assets/images/pdf-icon.png" alt="PDF" width="50" height="50">
          <h3>Voorzorg</h3>
        </div>
      </a>
    </div>
    <div>
      <a href='./assets/documents/sport-offitnessclub.pdf' target="_blank">
        <div>
          <img src="./assets/images/pdf-icon.png" alt="PDF" width="50" height="50">
          <h3>Vlaams & Neutraal ziekenfonds</h3>
        </div>
      </a>
    </div>
    <div>
      <a href='./assets/documents/Document onafhankelijk ziekenfonds lidgeld.pdf' target="_blank">
        <div>
          <img src="./assets/images/pdf-icon.png" alt="PDF" width="50" height="50">
          <h3>Onafhankelijk Ziekenfonds</h3>
        </div>
      </a>
    </div>
  </div>
  <div>
    <hr>
  </div>
  <div class="row">
    <div class="center">
      <h2>Formulieren</h2>
      <p class="lead">Aangiftes bij een sportongeval moeten binnen de 24u gebeuren!</p>
    </div>
  </div>
</div>
<div class='row'>
  <div class='column'>
    <div class='sportongeval-column'>
      <h2>Sportongeval</h2>
      <p></p>
      <div>
        <a href='./assets/documents/Aangifte_sportongeval.pdf' target="_blank">
          <div>
            <img src="./assets/images/pdf-icon.png" alt="PDF" width="50" height="50">
            <p class="lead">Aangifte formulier Sportongeval</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class='geschikheids-column'>
    <h2>Geschiktheidsattest</h2>
    <p></p>
    <div>
      <a href='./assets/documents/medisch-attest-1458839259.pdf' target="_blank">
        <div>
          <img src="./assets/images/pdf-icon.png" alt="PDF" width="50" height="50">
          <p class="lead">Medisch attest</p>
        </div>
      </a>
    </div>
  </div>
<div class='column'>
  <div class='wedstrijdblad-column'>
      <h2>Wedstrijdblad </h2>
    <p></p>
    <div>
      <a href='./assets/documents/wedstrijdblad.pdf' target="_blank">
        <div>
          <img src="./assets/images/pdf-icon.png" alt="PDF" width="50" height="50">
          <p class="lead">Wedstijdblad Belgische competitie</p>
        </div>
      </a>
    </div>
  </div>
</div>
</div>
<input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">

