<div class='kalender-page-wrapper'>
  <div class="row-1 d-flex justify-content-center">
    <div class="title">
      <h2>{{pageTitle}}</h2>
      <p class="lead">Programma kan u nachecken op <a href="http://limburg.handbal.be/competitie.html">&gt;&gt; Handbal Limburg &lt;&lt;</a></p>
    </div>
  </div>
  <div class="container" *ngIf='_wedstrijden && _wedstrijden.length'>
    <div class="row">
      <div class="col-md-1">Team</div>
      <div class="col-md-1">Datum</div>
      <div class="col-md-2">Aanvang</div>
      <div class="col-md-1">Code</div>
      <div class="col-md-4">Wedstrijd</div>
    </div>
    <div *ngFor = 'let wedstrijd of _wedstrijden' class="row">
      <div class="col-md-1" *ngIf="wedstrijd.out == '1'">{{ wedstrijd.awayTeam | uppercase }}</div>
      <div class="col-md-1" *ngIf="wedstrijd.out == '0'">{{ wedstrijd.homeTeam | uppercase }}</div>
      <div class="col-md-1">{{ wedstrijd.matchDate | date:'dd-MM-yy' }}</div>
      <div class="col-md-2">om {{ wedstrijd.matchTime }}</div>
      <div class="col-md-1">{{ wedstrijd.code }}</div>
      <div class="col-md-4" *ngIf="wedstrijd.out == '1'">{{ wedstrijd.homeTeam | uppercase }} - Hestia Bilzen</div>
      <div class="col-md-4" *ngIf="wedstrijd.out == '0'">Hestia Bilzen - {{ wedstrijd.awayTeam | uppercase }}</div>
    </div>
  </div>
</div>
