<div class='kalender-page-wrapper'>
  <div class="row d-flex justify-content-center">
    <div class="title">
      <h2>{{pageTitle}}</h2>
      <p class="lead">Programma kan u nachecken op <a href="http://limburg.handbal.be/competitie.html">&gt;&gt; Handbal
          Limburg &lt;&lt;</a> </p>
    </div>
  </div>
  <div class='table-responsive' *ngIf = '_wedstrijden && _wedstrijden.length'>
    <table class="table table-hover">
      <thead>
        <tr class="table-primary">
          <th scope="col">Team</th>
          <th scope="col">Datum</th>
          <th scope="col">aanvangsUUR</th>
          <th scope="col">Code</th>
          <th scope="col">Wedstrijd</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = 'let wedstrijd of _wedstrijden'>
            <td *ngIf="wedstrijd.out == '1'">{{ wedstrijd.awayTeam | uppercase }}</td>
            <td *ngIf="wedstrijd.out == '0'">{{ wedstrijd.homeTeam | uppercase }}</td>
            <td>{{ wedstrijd.matchDate}}</td>
            <td>om {{ wedstrijd.matchTime }}</td>
            <td>{{ wedstrijd.code}}</td>
            <td *ngIf="wedstrijd.out == '1'">{{ wedstrijd.homeTeam | titlecase }} - Hestia Bilzen</td>
            <td *ngIf="wedstrijd.out == '0'">Hestia Bilzen - {{ wedstrijd.awayTeam | titlecase }}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
