.kalender-page-wrapper {
  margin: 0 0 15px;
}

.container {
  max-width: 80%;
  flex: 1 1 20%;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  color: #FEFEFE;
}

.lead {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: #D9D9D9;
}

p {
  display: block;
}

a {
  color:#007bff;
}

.title {
  background: #212529;
  text-align: center;
}

.row {
  color: #D9D9D9;
  width: 100%;
}

.col-md-1, .col-md-2 {
  padding-right: 7px;
  padding-left: 7px;
}

.col-md-1:first-child {
  padding-right: 4px;
  padding-left: 5px;
}

.col-md-4 {
  padding-right: 5px;
  padding-left: 22px;
  min-width: 360px;
  flex: 0 0 33.5%;
}

.row:first-child {
  background-color: #202020;
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
}

.row:nth-of-type(odd):not(:first-child) {
  background-color: #404040;
}

.row:nth-of-type(even) {
  background-color: #656565;
}

  .row .col-md-1:first-child {
    min-width: 70px;
  }

  .row .col-md-1:nth-child(2) {
    min-width: 90px;
  }

  .row .col-md-2 {
    flex: 0 0 13.5%;
    min-width: 95px;
  }

  @media (max-width: 576px) {
    .col-md-1, .col-md-2, .col-md-4, .col-md-1:first-child {
      padding-left: 8px;
    }
  }
