<div class="container">
  <div class="center">
    <h2>Kom eens kijken !</h2>
    <p class="lead">Onze wedstijden en trainingen gaan door in de <strong>sporthal "de Kimpel"</strong>. </p>
  </div>
  <div class="gmap-area">
    <div class="flex-container">
      <div class="gmap">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16938.92867239573!2d5.500980233994034!3d50.86844389151263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0e0b9fd62add3%3A0xfb1038a7e0c9a39f!2scultuurcentrum+de+kimpel+Bilzen!5e0!3m2!1snl!2sbe!4v1455882621863"
          width="600" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="bericht">
        <h5>Sporthal de Kimpel</h5>
        <p>Eikenlaan 25 <br>
          3740 Bilzen</p>
        <i class="fa fa-phone"> 089/51.95.30</i><br>
        <i class="fa fa-facebook-square"><a href="http://www.facebook.com/SportcentrumDeKimpelBilzen" target="_blank">
            /sportcentrumDeKimpelBilzen</a></i>
      </div>
    </div>
  </div>
  <div class="center">
    <h2>Contact</h2>
    <p class="lead">Heb je een vraag, opmerking of probleem? Contacteer ons op onderstaand formulier.</p>
  </div>

  <!-- begin formulier -->  

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>  



  <div class ="d-flex justify-content-center">
  <div class="form_">
    <form action="" method="post" enctype="text/plain" style="width:100%;" #myForm="ngForm" >
      <div class="col">

        <!-- persoonlijke info -->
        <div class="row" ngModelGroup="verzender_info">
          <div class="col">
            <div class="form-group">
              <label for="fnText">Voornaam </label>
              <input type="text" ngModel name="firstName" #firstName="ngModel" [ngClass]="{'form-control': true, 
            'is-invalid': !firstName?.valid && firstName?.touched,
            'is-valid': firstName?.valid && firstName?.touched}" required minlength="2" id="fnText" placeholder="...">
              <small id="fnHelp" *ngIf="firstName?.errors?.required && firstName?.touched"
                class="form-text custom-invalid-feedback">Dit veld is verplicht</small>
              <small id="fnHelp" *ngIf="firstName?.errors?.minlength && firstName?.touched"
                class="form-text custom-invalid-feedback">Tenminste 2 letters ingeven.</small>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="lnText">Naam</label>
              <input type="text" ngModel name="lastName" required #lastName="ngModel" [ngClass]="{'form-control': true, 
            'is-invalid': !lastName?.valid && lastName?.touched,
            'is-valid': lastName?.valid && lastName?.touched}" id="lnText" placeholder="...">
              <small id="fnHelp" *ngIf="lastName?.errors?.required && firstName?.touched"
                class="form-text custom-invalid-feedback">Dit veld is verplicht</small>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="emText">Email</label>
                <input type="email" ngModel name="emailAdres" required #emailAdres="ngModel" [pattern]="emailPattern" [ngClass]="{'form-control': true, 
              'is-invalid': !emailAdres?.valid && emailAdres?.touched,
              'is-valid': emailAdres?.valid && emailAdres?.touched}" id="emText" placeholder="default@example.gmail">
                <small id="fnHelp" *ngIf="emailAdres?.errors?.required && emailAdres?.touched"
                  class="form-text custom-invalid-feedback">Dit veld is verplicht</small>
                <small id="fnHelp" *ngIf="emailAdres?.errors?.pattern && emailAdres?.touched"
                  class="form-text custom-invalid-feedback">Geef een geldig email adres in</small>
              </div>
            </div>
        </div>
        <!-- bericht info -->
        <div class="row" ngModelGroup="bericht">

          <div class="col-3">
            <div class="form-group">
              <label for="subject">Onderwerp</label>
              <select id="inputSubject" ngModel required name="subject" #state="ngModel" [ngClass]="{'form-control' : true,
              'is-invalid' : !subject?.valid && subject?.touched,
              'is-valid' : subject?.valid && subject?.touched}" name="state" class="form-control">
                <option selected value="">Kies...</option>
                <option *ngFor="let item of subject" [value]="item">{{item}}</option>
              </select>
              <small *ngIf="subject?.errors?.required && subject?.touched"
                class="form-text custom-invalid-feedback">Dit veld is verplicht</small>
            </div>
          </div>


          <div class="col-12">
            <div class="form-group">
              <label for="addText">Bericht</label>
              <textarea type="text" class="form-control" ngModel required rows="10" cols="30" #bericht="ngModel"
                [ngClass]="{'form-control' : true,
            'is-invalid' : !bericht?.valid && bericht?.touched,
            'is-valid' : bericht?.valid && bericht?.touched}" name="bericht" id="addText" placeholder="...">
            <small  *ngIf="bericht?.errors?.required && bericht?.touched"
            class="form-text custom-invalid-feedback">Dit veld is verplicht</small>
            </textarea>
            </div>
          </div>

        </div>

        <div class="row">
          <hr>
        </div>
        <div class="row justify-content-left">
          <div class="col-2">                    
              <button type="button" [disabled]="!myForm.form.valid" (click)="submitHandler(myForm)" class="btn btn-outline-dark">Verzenden</button>
           



          </div>
        </div>
      </div>
    </form>
  </div>

</div>

</div>
