<section id="contact-info">
        <div class="center">                
            <h2>Kom eens kijken !</h2>
            <p class="lead">Onze wedstijden en trainingen gaan door in de sporthallen "de Kimpel" en "de Zonhoeve". </p>
        </div>
</section>        
<div class="gmap-area">

        <div class="gmap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16938.92867239573!2d5.500980233994034!3d50.86844389151263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0e0b9fd62add3%3A0xfb1038a7e0c9a39f!2scultuurcentrum+de+kimpel+Bilzen!5e0!3m2!1snl!2sbe!4v1455882621863" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

         <div class="map-content">
             <ul>
                 <li>
                     <address>
                         <h5>Sporthal de Kimpel</h5>
                         <p>Eikenlaan 25 <br>
                         3740 Bilzen</p>
                         <i class="fa fa-phone"> 089/51.95.30</i><br>
                         <i class="fa fa-facebook-square"><a class="black" href="http://www.facebook.com/SportcentrumDeKimpelBilzen" target="_blank"> www.facebook.com/SportcentrumDeKimpelBilzen</a></i>
                     </address>
                    </li>
                    <li>

                     <address>
                         <h5>Sporthal de Zonhoeve</h5>
                         <p>Zonhoevestraat 3 <br>
                         3740 Bilzen</p>                                
                         <i class="fa fa-phone"> 089/41.69.61 </i><br>
                         <i class="fa fa-facebook-square"><a class="black" href="http://www.facebook.com/dezonhoeve" target="_blank"> www.facebook.com/dezonhoeve</a></i>
                     </address>
                 </li>

             </ul>
         </div>
    </div>













    <form #form="ngForm" (ngSubmit)="onSubmit(form)">

      <div class="form-group">
          <label>Naam en Voornaam</label>
          <input type="text" name="name" id="name" class="form-control" required [(ngModel)]="contactSettings.name"
              required #nameField="ngModel" 
              (blur)="onBlur(nameField)"
              [class.field-error]="form.submitted && nameField.invalid">
        <div [hidden]="!form.submitted || nameField.valid"
          class="alert alert-danger">
          Geef je naam in
        </div>
      </div>


  


      <div class="form-check form-group">
        <input class="form-check-input" type="checkbox"
                id="emailOffers" name="emailOffers" [(ngModel)]="contactSettings.emailOffers">
        <label class="form-check-label" for="emailOffers">
          Email Special Offers
        </label>
      </div>

      <p>User Interface Style</p>
      <div class="form-group">

        <div class="btn-group">
          <label class="btn btn-primary" [(ngModel)]="contactSettings.interfaceStyle" name="interfaceStyle"
                  btnRadio="Light" tabindex="0" role="button">Light</label>
          <label class="btn btn-primary" [(ngModel)]="contactSettings.interfaceStyle" name="interfaceStyle"
                  btnRadio="Medium" tabindex="0" role="button">Medium</label>
          <label class="btn btn-primary" [(ngModel)]="contactSettings.interfaceStyle" name="interfaceStyle"
                  btnRadio="Dark" tabindex="0" role="button">Dark</label>
        </div>
        
      </div>


      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea id="notes" name="notes" class="form-control" 
                  rows="3" [(ngModel)]="contactSettings.notes"></textarea>
      </div>      

      <div [hidden]="!postError"
          class="alert alert-danger">
          {{ postErrorMessage }}
      </div>
      <button class="btn btn-primary">Send</button>
    </form>




  <form name="my-form" action="#" method="get">
    <div class="form-box">
        <label for="name">Naam</label>
        <input type="text" id="name" name="name" placeholder="name">
    </div>
    <div class="form-box">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email" required>
    </div>
    <div class="form-box">
        <label for="mobile">GSM/Tel</label>
        <input type="mobile" id="mobile" name="mobile" placeholder="mobile" required>
    </div>
    <div class="form-box">
        <label for="onderwerp">Onderwerp</label>
        <select id="onderwerp" name="onderwerp">
            <option value="aansluiting">Aansluiting bij de club</option>
            <option value="lidgeld">Lidgeld</option>
            <option value="ongeval">Aangifte sportongeval</option>
            <option value="andere">Andere</option>
        </select>
    </div>
    <div class="form-box">
        <label for="message"></label>
        <textarea name="message" id="message" rows="10" cols="30">Uw bericht ...</textarea>
    </div>
    <div class="form-box">
        <button id="btnSend">Verzenden</button>
    </div>
</form>
