.center {
  text-align: center;
  padding-bottom: 30px;
}

.center h2 {
  font-size: 40px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-top: 20px;
}

.lead {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin: 10px;
}

.gmap-area {
  background-image: url(src\assets\images\map.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
}

.gmap-area .gmap iframe {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  text-align: right;
}

.gmap {
  border: 10px solid #f6f5f0;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  box-shadow: 0px 0px 3px 3px #e7e4dc;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.flex-container>div {
  margin: 10px;
}

.address {
  padding: 60px;
}

.address a {
  color: #4e4e4e;
}

form {
  margin-bottom: 50px;
}

.btn-outline-dark {
  color: black !important;
  font-weight: 500;
}

.form_ {
  width: 80%;
}

a {
  color:#007bff;
}

.bericht {
  padding-top:80px;
  padding-left:30px;
}


select,
option,
input,
label,
textarea,
button {
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  color: White;
}

.form-box {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.form-box label {
  display: none;
}

.form-box input,
.form-box select,
.form-box textarea {
  flex-basis: 100%;
}

.form-box button {}

@media all and (min-width: 500px) {
  .form-box {}

  .form-box label {
    display: block;
  }

  .form-box input,
  .form-box select,
  .form-box textarea {}

  .form-box button {}
}

@media all and (min-width: 600px) {
  .form-box {
    flex-direction: row;
  }

  .form-box label {
    flex-basis: 9rem;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .form-box input,
  .form-box select,
  .form-box textarea {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .form-box button {
    margin-left: 9rem;
  }
}
