h2 {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  color: #131313;
}

.lead {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: #131313;
  margin: 10px;
}

.training {
  margin-top: 20px;
}

.r_info {
  margin-right: 5px;
}

.l_info {
  margin-left: 5px;
}

.img-responsive {
  display: block;
  margin: 0 auto;
  height: auto;
  max-width: 100%;
}

.some-page-wrapper {
  margin: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.left-column {
  height: 100%;
  width: 80%;
}

.right-column {
  height: 100%;
}

.row:nth-of-type(odd) {
  background-color: #fff;
}

.row:nth-of-type(even) {
  background-color: lightskyblue;
}
