<div class="container">
  <div class="training d-flex justify-content-center">
    <h2>1ste Ploeg Heren </h2>
  </div>
  <div class="lead d-flex justify-content-center">
    <div class="r_info">
      <p>Trainer:<br>
        Training: </p>
    </div>
    <div class="l_info">
      <p> Bram De Wit <br>
        Maandag: 19u30 tot 21u<br>
        Dinsdag: 19u30 tot 21u<br>
        Vrijdag: 18u30 tot 20u</p>
    </div>
  </div>
  <div>
    <img src="./assets/images/ploegen/1steploeg.png" class="img-responsive">
  </div>

  <div class="container mt-3">
    <div class="d-flex mb-3">
      <div class="p-2 mr-auto">
        <h2>Spelers</h2>
        <table class="table table-striped table-sm">
          <tbody>
            <tr>
              <td>Frank</td>
              <td>Martens</td>
              <td>63677</td>
              <td>Nr 15</td>
            </tr>
            <tr>
              <td>Stephen</td>
              <td>Hermans</td>
              <td>98777</td>
              <td>Nr 9</td>
            </tr>
            <tr>
              <td>Jens</td>
              <td>Merten</td>
              <td>60977</td>
              <td>Nr 5</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="p-2 ">
        <h2>Wedstrijden</h2>
        <div class="table-responsive">
          <table class="table table-sm table-borderless">
            <tbody>
              <tr>
                <td>U13 M</td>
                <td>16-10-19</td>
                <td>om 14u30</td>
                <td>Hestia Bilzen - Kiewit</td>
              </tr>
              <tr>
                <td>U13 M</td>
                <td>16-10-19</td>
                <td>om 14u30</td>
                <td>Hestia Bilzen - Kiewit</td>
              </tr>
              <tr>
                <td>U13 M</td>
                <td>16-10-19</td>
                <td>om 14u30</td>
                <td>Hestia Bilzen - Kiewit</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
