<div class="container">
  <div class="training d-flex justify-content-center">
    <h2>1ste Ploeg Heren</h2>
  </div>
  <div class="lead d-flex justify-content-center">
    <div class="r_info">
      <p>Trainer:<br>Training:</p>
    </div>
    <div class="l_info">
      <p>{{ trainer }}<br>
        Maandag: 19u30 tot 21u<br>
        Dinsdag: 19u30 tot 21u<br>
        Vrijdag: 18u30 tot 20u
      </p>
    </div>
  </div>
  <div>
    <img src="./assets/images/ploegen/1steploeg.png" class="img-responsive">
  </div>
  <div class='some-page-wrapper'>
    <div class='row'>
      <div class='column'>
        <div class='left-column'>
          <h2>Spelers</h2>
          <div class="row" *ngFor = 'let speler of _spelers'>
            <div class="col-sm-1 col-md-6">{{ speler.name }}</div>
            <div class="col-sm-1 col-md-2">{{ speler.stamNr }}</div>
            <div class="col-sm-1 col-md-3">{{ speler.birthDate | date:'dd-MM-yy' }}</div>
          </div>
        </div>
      </div>
      <div class='column'>
        <div class='right-column'>
          <h2>Wedstrijden</h2>
          <div class="row" *ngFor = 'let wedstrijd of _wedstrijden'>
            <div class="col-sm-1 col-md-2" *ngIf="wedstrijd.out == '1'">{{ wedstrijd.awayTeam | uppercase }}</div>
            <div class="col-sm-1 col-md-2" *ngIf="wedstrijd.out == '0'">{{ wedstrijd.homeTeam | uppercase }}</div>
            <div class="col-md-1 match-date">{{ wedstrijd.matchDate | date:'dd-MM-yy' }}</div>
            <div class="col-sm-1 col-md-2">om {{ wedstrijd.matchTime }}</div>
            <div class="col-sm-1 col-md-5" *ngIf="wedstrijd.out == '1'">{{ wedstrijd.homeTeam | uppercase }} - Hestia Bilzen</div>
            <div class="col-sm-1 col-md-5" *ngIf="wedstrijd.out == '0'">Hestia Bilzen - {{ wedstrijd.awayTeam | uppercase }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
