h2 {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  color: #131313;
}

.lead {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: #131313;
  margin: 10px;
}

.training {
  margin-top: 20px;
}

.r_info {
  margin-right: 5px;
}

.l_info {
  margin-left: 5px;
}

.img-responsive {
  display: block;
  margin: 0 auto;
  height: auto;
  max-width: 100%;
}

.table-sm td:not(:first-child):not(:last-child), .table-sm th:not(:first-child):not(:last-child) {
  padding-right: 0.8em;
  padding-left: 0.8em;
}
