<div class="container">
  <div class="training d-flex justify-content-center">
    <h2>1ste Ploeg Heren </h2>
  </div>
  <div class="lead d-flex justify-content-center">
    <div class="r_info">
      <p>Trainer:<br>
        Training: </p>
    </div>
    <div class="l_info">
      <p>{{ trainer }} <br>
        Maandag: 19u30 tot 21u<br>
        Dinsdag: 19u30 tot 21u<br>
        Vrijdag: 18u30 tot 20u</p>
    </div>
  </div>
  <div>
    <img src="./assets/images/ploegen/1steploeg.png" class="img-responsive">
  </div>

  <div class="container mt-3">
    <div class="d-flex mb-3">
      <div class="p-2 mr-auto">
        <h2>Spelers</h2>
        <table class="table table-striped table-sm">
          <tbody>
            <tr *ngFor = 'let speler of _spelers'>
              <td>{{ speler.name }}</td>
              <td>{{ speler.stamNr }}</td>
              <td>{{ speler.birthDate | date:'dd-MM-yy' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="p-2 ">
        <h2>Wedstrijden</h2>
        <div class="table-responsive">
          <table class="table table-sm table-borderless">
            <tbody>
                <tr *ngFor = 'let wedstrijd of _wedstrijden'>
                <td *ngIf="wedstrijd.out == '1'">{{ wedstrijd.awayTeam | uppercase }}</td>
                <td *ngIf="wedstrijd.out == '0'">{{ wedstrijd.homeTeam | uppercase }}</td>
                <td>{{ wedstrijd.matchDate | date:'dd-MM-yy' }}</td>
                <td>om {{ wedstrijd.matchTime }}</td>
                <td *ngIf="wedstrijd.out == '1'">{{ wedstrijd.homeTeam | titlecase }} - Hestia Bilzen</td>
                <td *ngIf="wedstrijd.out == '0'">Hestia Bilzen - {{ wedstrijd.awayTeam | uppercase }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
