<nav class="navbar navbar-expand-md navbar-dark fixed-top" >

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/kalender']">Kalender</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sporthallen']">Sporthallen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/documenten']">Documenten</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Teams</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item"  [routerLink]="['/ploeg']">1ste ploeg</a>
          <a class="dropdown-item" href="#">J19</a>
          <a class="dropdown-item" href="#">M19</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contactform']">ContactForm</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" [routerLink]="['/login']">Login</a>
        
      </li>
      <li class="nav-item"  *ngIf="currentUser" >
        <a class="nav-link" [routerLink]="['/admin']">admin</a>
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>

    <div class="inline my-2 my-lg-0">
      <a class="navbar-brand" href="#"><img src="./assets/images/logo.png" alt="logo HestiaBilzen"></a>
    </div>
  </div>
</nav>
