<div class='wrapper_sporthal'>
  <br>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      Kies een club :
    </button>
    <div class="dropdown-menu">

      <a class="dropdown-item" href="#">Alle Sporthallen</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Hestia Bilzen</a>
      <a class="dropdown-item" href="#">Initia Hasselt</a>
      <a class="dropdown-item" href="#">Bocholt</a>

    </div>
  </div>
  <div class='row'>
    <div class='column'>
      <div class='column left'>
        <div class="panel">
          <div class="panel-title">
            <h3>Sporthal de Kimpel</h3>
          </div>
          <div class="flex-container">
            <div style="align-self: center">
              <img class="img-responsive" src="./assets/images/sporthallen/dekimpel.jpg">
            </div>

            <div style="align-self: center">
              <h4>Sporthal de Kimpel</h4>
              <p>Eikenlaan 25<br>3740 Bilzen</p>
              <p><i class="fa fa-phone"></i> 089 / 51.95.30</p>
            </div>
            <div>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d40267.410943159724!2d5.4639637!3d50.8920186!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0dfd3e79f2715%3A0xb02a8d2617dcbefe!2sDe%20Zonhoeve!5e0!3m2!1sen!2sbe!4v1571824554791!5m2!1sen!2sbe"
                width="200" height="" frameborder="1" style="border:1px solid #1f1f20;border-radius: 5px;"
                allowfullscreen="">
              </iframe>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class='column'>
      <div class='column right'>
        <div class="panel">
          <div class="panel-title">
            <h3>Sporthal de Zonhoeve</h3>
          </div>

          <div class="flex-container">
            <div>
              <img class="img-responsive" src="./assets/images/sporthallen/zonhoeve.jpg">
            </div>
            <div>
              <h4>Sporthal de Zonhoeve</h4>
              <p>Zonhoevestraat 3<br>3740 Beverst</p>
              <p><i class="fa fa-phone"></i> 089 / 41.69.61</p>
            </div>
            <div>
              <a href="https://goo.gl/maps/2LN46Tbjohb8aMEw9" target="_blank">
                <img class="gmaps" src="./assets/images/google_maps_icon.png">
                <p>Bereken je route</p>
              </a>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
