body {
  padding: 0.3em;
  background: #212529;
  color: #DEDBD7;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
  color: #787878;
  font-weight: 400;
  line-height: 24px;
}

h4 {
  font-size: 30px;
}

a {
  color: #fff;
}

a:hover,
a:focus {
  color: #0069B2;
}

/********** Begin media instellingen **********/

@media all and (min-width: 576px) {
  .aside {
    flex: 1 0 0;
  }
}

@media all and (min-width: 768px) {
  .aside-1 {
    order: 1;
  }

  .aside-2 {
    order: 2;
  }

  .sponsors {
    order: 3;
  }

  .footer {
    order: 4;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1270px;
  }
}
