<div class="main">
  <div class="back_img">
    <div class="event d-flex justify-content-center ">
      <aside class="aside aside-1">
        <div class="eventtitle">
          <h1>Fijn dat u ons gevonden heeft!</h1>
          <h5>Wedstrijden voor deze week: </h5>
        </div>
        <div class="container">
          <div class="row" *ngFor='let wedstrijd of _wedstrijden'>
            <div class="col-md-2" *ngIf="wedstrijd.out == '1'" (click)='toggleGmaps(wedstrijd)'>
              {{ wedstrijd.awayTeam | uppercase }}</div>
            <div class="col-md-2" *ngIf="wedstrijd.out == '0'" (click)='toggleGmaps(wedstrijd)'>
              {{ wedstrijd.homeTeam | uppercase }}</div>
            <div class="col-md-2" (click)='toggleGmaps(wedstrijd)'>{{ wedstrijd.matchDate}}</div>
            <div class="col-md-2" (click)='toggleGmaps(wedstrijd)'>om {{ wedstrijd.matchTime }}</div>
            <div class="col-md-6" *ngIf="wedstrijd.out == '1'" (click)='toggleGmaps(wedstrijd)'>
              {{ wedstrijd.homeTeam | titlecase }} - Hestia Bilzen</div>
            <div class="col-md-6" *ngIf="wedstrijd.out == '0'" (click)='toggleGmaps(wedstrijd)'>Hestia Bilzen -
              {{ wedstrijd.awayTeam | titlecase }}</div>
          </div>
        </div>
        <!--Table-->
      </aside>
      <aside class="aside aside-2">
        <div *ngIf='hideLogo'>
         <img src="./assets/images/Hestia_Bilzen.png" class="img-responsive">
        </div>
        <app-route-info *ngIf="this.sporthalid > 0" [sporthalid]="this.sporthalid" (valueChange)='displayCounter($event)'></app-route-info>
      </aside>
    </div>
  </div>
</div>
