<div class="main">
  <div class="back_img">
    <div class="event d-flex justify-content-center ">
      <aside class="aside aside-1">
        <div class="eventtitle">
          <h1>Fijn dat u ons gevonden heeft!</h1>
          <h5>Wedstrijden voor deze week: </h5>
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-borderless">
            <tbody>
              <tr>
                <td>U13 M</td>
                <td>16-10-19</td>
                <td>om 14u30</td>
                <td>Hestia Bilzen - Kiewit</td>
              </tr>
              <tr>
                <td>U13 M</td>
                <td>16-10-19</td>
                <td>om 14u30</td>
                <td>Hestia Bilzen - Kiewit</td>
              </tr>
              <tr>
                <td>U13 M</td>
                <td>16-10-19</td>
                <td>om 14u30</td>
                <td>Hestia Bilzen - Kiewit</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--Table-->
      </aside>
      <aside class="aside aside-2">
        <h1>Hier gegevens wedstrijd na klik !</h1>
      </aside>
    </div>

  </div>
</div>
