h1 {
  font-size: 26px;
  color: #fff;
  text-shadow: -1.3px -1.3px 0 #3E3E3E, 1.3px -1.3px 0 #3E3E3E, -1.3px 1.3px 0 #3E3E3E, 1.3px 1.3px 0 #3E3E3E;
}

h2 {
  font-size: 25px;
  color: #0088e6;
  text-shadow: -1px -1px 0 #cecece, 1px -1px 0 #4e4e4e, -1px 1px 0 #4e4e4e, 1px 1px 0 #4e4e4e;
}

h5 {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-shadow: -1px -1px 0 #4e4e4e, 1px -1px 0 #4e4e4e, -1px 1px 0 #4e4e4e, 1px 1px 0 #4e4e4e;
  font-size: 14px;
}

.container {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-shadow: -1px -1px 0 #4e4e4e, 1px -1px 0 #4e4e4e, -1px 1px 0 #4e4e4e, 1px 1px 0 #4e4e4e;
  font-size: 16px;
}

.container>div:hover {
  background-color: #0069b2;
  cursor: pointer;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.back_img {
  background-image: url(src\assets\images\bg3.jpg);
  background-position: 50%;
  background-position-x: 50%;
  background-position-y: center center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0 !important;
  max-width: 100%;
  display: block !important;
  height: 730px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container>div {
  margin: 10px;
  text-align: left;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-shadow: -1.2px -1.2px 0 #3E3E3E, 1.2px -1.2px 0 #3E3E3E, -1.2px 1.2px 0 #3E3E3E, 1.2px 1.2px 0 #3E3E3E;
  font-size: 16px;
}

.event {
  display: flex;
  flex-wrap: wrap;
}

.aside-1 {
  margin-top: 100px;
  margin-left: 10px;
  max-width: 640px;
}

.aside-2 {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 550px;
  padding-left: 10px;
}

.eventtitle {
  margin-bottom: 20px;

}
