<div class="sponsors">
  <h4>Onze HoofdSponsors</h4>
  <p class="lead">Steun ons en plaats je Logo hier</p>
  <div class="flex-container">
    <div><a href="https://www.kinderrijck.be/ " target="_blank">
      <img src="./assets/images/sponsors/kinderrijck.png" alt="Kinderrijck"></a><br></div>
    <div><a href="https://www.dvv.be/" target="_blank">
      <img src="./assets/images/sponsors/DVV_footer.png" alt="DVV verzekeringen"></a></div>
    <div><a href="http://zonnezeilenopmaat.be/ " target="_blank">
      <img src="./assets/images/sponsors/moors_footer.png" alt="Moors"></a><br></div>
    <div><a href="http://www.frankmartens.be " target="_blank">
      <img src="./assets/images/sponsors/BAJ.png" alt="BAJ bouwwerken"></a><br></div>
  <div>
</div>
