<div>
  <h1>Wedstrijd gaat door in :</h1>
  <div class="flex-container">
    <div *ngIf='wedstrijdSporthal'>
      <iframe [src]="this.transform(this.wedstrijdSporthal.mapsURL)" width="200px"
              frameborder="1" style="border:1px solid #1f1f20;border-radius: 5px;" allowfullscreen="">
      </iframe>
    </div>
    <div>
      <h2>{{ wedstrijdSporthal.name }}</h2>
      <p>{{ wedstrijdSporthal.street }}<br>{{ wedstrijdSporthal.city }}</p>
      <p><i class="fa fa-phone"></i>&nbsp;{{ wedstrijdSporthal.phoneNumber }}</p>
      <button class='btn-sm btn-secondary bg-dark float-left' (click)="this.prevMatch()">Vorige</button>
      <button class='btn-sm btn-secondary bg-dark float-right' (click)="this.nextMatch()">Volgende</button>
    </div>
  </div>
</div>
